body {
  font-family: "OpenSans";
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.copy {
  font-family: "OpenSans";
}

.headline {
  font-family: "TradeGothic-BoldCondTwenty";
}

.react-root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.article {
  width: 50vw;
  padding: 3vh 6vw;
}


h1 {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  font: bold 2em/1.2em "TradeGothic",Helvetica Neue,Helvetica,Arial,sans-serif;
}

.publish-date {
    font-weight: bold;
    margin-right: 0.25rem;
  }

.article p {
  width: 100%;
  padding: 0;
  position: relative;
  color: #000;
  font-family: Arial,sans-serif;
  font-size: 1.125rem;
  line-height: 2rem;
  display: block;
  margin: 0 auto 2rem auto;
  max-width: 100%;
}

.publish-date-time {
  font-size: 0.75em;
}

.byline span {
  font-size: 0.75em;
  font-weight: bold;
}

.media {
  width: 50vw;
  background-color: #000;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  color: #fff;
  padding: 3vh 0;
  -webkit-transition: width 1s;
  transition: width 1s;
}
.opener{
    height:100%;
    left:0;
    top:0;
    width:3vw;
    background-color:rgba(0,0,0,0.9);
    position:absolute;
    cursor:pointer;
    opacity:0.5;
    z-index:2;
}
.opener:hover{
    opacity:1;
}

.opener:before{
    content:"◀";
    position:absolute;
    top:50%;
    left:5px;
    font-size:2vw;
}

.opener.open:before{
    content:"▶";
}

.media-header {
  transition: opacity 250ms ease-out;
  padding: 0 6vw;
  margin-bottom: 3vh;
  display: inline-block;
}
.full-image{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-size:cover;
    background-position: center;
    visibility:hidden;
}
.full-image.active-image{
    visibility:visible;
}
.
.full-opacity {
  opacity: 1;
}
.hover-dot{
    color:black;
    text-align:center;
    font-family: "TradeGothic-BoldCondTwenty";
    background-color:white;
    width:32px;
    height:32px;
    position:absolute;
    font-size:29px;
    border:2px solid black;
    z-index:2;
}
.hover-text{
    color:black;
    text-align:center;
    font-family: "TradeGothic-BoldCondTwenty";
    background-color:white;
    width:32px;
    height:32px;
    position:absolute;
    font-size:27px;
    border:2px solid black;
    margin-top:32px;
    margin-left:32px;
    padding-top:10px;
    display:none;
}
.hover-dot:hover + .hover-text{
    display:block;
}
.hover-dot span{
    position:relative;
    top:2px;
}

.zero-opacity {
  opacity: 0;
}

.media-image {
  position: absolute;
  opacity: 0;
  transition: opacity 250ms ease-in;
  width: 100%;
}

.active-image {
  opacity: 1;
}

.media-map {
  height: 80%;
}
